@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border outline-none;
  }

  body {
    @apply select-none;
  }

  button {
    @apply duration-100 active:scale-90;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
  }
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
